#friends-display-link {
  display: block;
  background-color: #fafafa;
  font-size: 18px;
  text-align: center;
  padding: 15px 0px;
  margin-bottom: 8px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px 0px;
}
