#friends-display-link {
  display: block;
  background-color: #fafafa;
  font-size: 18px;
  text-align: center;
  padding: 15px 0px;
  margin-bottom: 8px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px 0px;
}

@keyframes showSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  animation: showSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
