.icon-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}

.icon-row__icon i {
  font-size: 25px;
}

.icon-row__icon span {
  margin-top: 15px;
}
