.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}

.screen-header__mark {
  position: absolute;
  right: -6px;
  top: -6px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 900;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateGear 2s linear infinite;
}

@keyframes jumpMusic {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-music:hover {
  animation: jumpMusic 1s linear infinite;
}

@keyframes shineGlass {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-magnifying-glass:hover {
  animation: shineGlass 1s linear infinite;
}
